

#interactive.viewport {
  width: 100%;
  height: 60vh;
  position: relative;
}

#interactive.viewport canvas,
video {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 100%;
  height: 60vh;
}
